.movie-list-container {
  display: flex;
  flex-direction: column;
}

.library-movie-list {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-list-link {
  border: 1px solid orangered;
  color: orangered;
  margin: 10px auto;
  padding: 5px;
  text-decoration: none;
}
