form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

form div {
  margin: 10px auto;
  width: 80%;
}

form label {
  display: flex;
  flex-direction: column;
}

form button {
  background-color: lightseagreen;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  height: 35px;
  width: 30%;
}

form button:hover {
  cursor: pointer;
}
