.movie-card {
  background-color: gainsboro;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 430px;
  margin: 10px 5px;
  max-width: 400px;
  overflow: hidden;
  width: 30%;
}

.movie-card-text {
  padding: 10px;
}

.movie-card-details {
  color: orangered;
  text-align: center;
  text-decoration: none;
}
