body {
  box-sizing: border-box;
}

.movie-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 15px;
  min-height: 450px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  width: 300px;
}

.title {
  background-color: #0f0e17;
  color: #fffffe;
  font-weight: 500;
  padding: 1px 0 50px;
  text-align: center;
}

.link-button {
  border: 3px solid white;
  color: #fffffe;
  padding: 10px;
  text-decoration: none;
}

.link-button:hover {
  background-color: white;
  color: black;
}

.initial-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-button {
  align-self: center;
  border: 3px solid black;
  color: black;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 7px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.card-button:hover {
  background-color: black;
  color: white;
}

.loading-style {
  margin-top: 8% auto;
  text-align: center;
}

.movie-infos * {
  margin: 3px 5px 20px;
}

.movie-infos {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2px auto 15px;
  padding: 7px;
  text-align: center;
  width: 50%;
}

.edit-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;
  height: 99vh;
  margin: 1% auto;
  text-align: center;
  width: 25%;
}

form input {
  height: 28px;
}

textarea {
  height: 80px;
  width: 80%;
}
