@font-face {
  font-family: Adidas;
  src: url('./fonts/texgyreadventor-regular.otf');
}

body {
  background: url('./images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg') no-repeat fixed;
  background-color: whitesmoke;
  background-size: cover;
  box-sizing: border-box;
  font-family: Adidas , sans-serif;
  font-size: 0.9em;
}


@font-face {
  font-family: TheGodfather;
  src: url('./fonts/TheGodfather-rgRK.ttf');
}

.page-header {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.521);
  display: flex;
  height: 100px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.page-title {
  color: white;
  font-family: TheGodfather , serif;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120px;
  width: 100%;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 5px;
  overflow: hidden;
  padding: 0;
  transition: 0.3s;
  width: 24%;
}

.movie-card:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.edit, .add {
  background-color: rgb(27, 255, 27);
}

.return {
  background-color: rgb(255, 255, 27);
}

.delete {
  background-color: rgb(255, 27, 27);
}

.button {
  box-shadow: 2px 2px 1px black;
  padding: 10px;
  transition: 0.1s;

}

.button, .button:visited {
  color: black;
  font-weight: 600;
}

.button:active {
  box-shadow: none;
  transform: translate3d(2px, 2px, 0);
  transition: 0.1s;
}


.movie-card a, .movie-card a:visited {
  color: blue;
  font-style: italic;
  transition: 0.2s;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
}

.row {
  display: flex;
  justify-content: space-around;
}

.form-btn {
  align-self: center;
  background-color: rgb(27, 255, 27);
  border: none;
  cursor: pointer;
}

.form-btn-div {
  margin: 2% auto;
}

form label {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
}


.movie-card a:hover {
  color: steelblue;
  transition: 0.2s;
}

.add {
  box-shadow: 2px 2px 1px white;
  margin: 10px;
}

.movie-card-rating-and-buttons a:visited {
  color: initial;
}

.movie-details {
  background-color: white;
  box-shadow: 3px 3px 1px black;
  display: flex;
  flex-direction: column;
  margin: 10px;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 0;
  transition: 0.3s;
  width: 40%;
}

.movie-card-storyline {
  padding: 20px;
  text-align: justify;
}

.rating {
  background-color: white;
  box-shadow: 2px 2px 1px black;
  color: red;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
}

.movie-card-rating-and-buttons {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}

.movie-card-genre {
  font-weight: 600;
  padding: 0 20px;
  text-align: right;
}

.loading {
  align-items: center;
  color: white;
  display: flex;
  font-size: 2em;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 100px;
  width: 100%;
}

.titles {
  background-color: black;
  box-shadow: 0 2px 2px black;
  padding: 5px;
}

.movie-card-title {
  color: red;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
  text-align: right;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
  text-align: right;
}

.more-details {
  align-self: center;
}

.movie-list {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 48px 30px;
}
